---
import type { MarkdownHeading } from 'astro'
import type { CollectionEntry } from 'astro:content'
import HeadCommon from '~components/HeadCommon.astro'
import HeadSEO from '~components/HeadSEO.astro'
import Header from '~components/Header/Header.astro'
import PageContent from '~components/PageContent/PageContent.astro'
import LeftSidebar from '~components/LeftSidebar/LeftSidebar.astro'
import RightSidebar from '~components/RightSidebar/RightSidebar.astro'
import Footer from '~components/Footer/Footer.astro'
import 'iconify-icon';
import { EDIT_URL, SITE, REPOPATH } from '../consts'

type Props = CollectionEntry<'docs'>['data'] & {
  headings: MarkdownHeading[]
}

const { headings, ...data } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const currentPage = Astro.url.pathname.replace(REPOPATH, '');
const currentFile = `src/content/docs${currentPage.replace(/\/$/, '')}.mdx`
const editUrl = `${EDIT_URL}/${currentFile}`
---

<html dir={data.dir} lang={data.lang} class="initial">
  <head>

    <HeadCommon />
    <HeadSEO {...data} canonicalUrl={canonicalURL} />

    <title>
      {`${data.title} | ${SITE.title}`}
    </title>

    <style>
      body {
        display: grid;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
      }
      
      @media (max-width: 49.999rem) {
        body {
          padding-bottom: var(--theme-navbar-height);
        }
      }

      .layout {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns:
          minmax(var(--gutter), 1fr) 
          minmax(0, var(--max-width))
          minmax(var(--gutter), 1fr);
        overflow-x: hidden;
      }

      .grid-sidebar {
        height: 100vh;
        height: 100dvh;
        position: sticky;
        top: 0;
        padding: 0;
      }

      #grid-left {
        position: fixed;
        background-color: var(--theme-bg);
        z-index: 10;
        display: none;
      }

      #grid-main {
        padding: 1rem var(--gutter) var(--doc-padding) ;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      #grid-right {
        display: none;
      }

      @media (min-width: 50em) {
        body {
          grid-template-rows: var(--theme-navbar-height) 1fr;
        }

        .layout {
          overflow: initial;
          grid-template-columns: 20rem minmax(0, var(--max-width));
          gap: 1em;
        }

        #grid-left {
          display: flex;
          padding-left: 1rem;
          background-color: transparent;
          position: sticky;
          grid-column: 1;
        }
      }

      @media (min-width: 72em) {
        .layout {
          grid-template-columns: 20rem minmax(0, var(--max-width)) 18rem;
          padding-left: 0;
          padding-right: 0;
          margin: 0 auto;
        }

        #grid-right {
          grid-column: 3;
          display: flex;
        }
      }
    </style>
    <style is:global>
      .layout > * {
        width: 100%;
        height: 100%;
      }

      .mobile-sidebar-toggle {
        overflow: hidden;
      }

      .mobile-sidebar-toggle #grid-left {
        display: block;
        bottom: 2rem;
        animation: menuSlideIn .5s linear(
          0, 0.005, 0.02 2.3%, 0.082 5.1%, 0.462 16.8%, 0.557, 0.638, 0.707,
          0.767 30.1%, 0.818, 0.861 37.4%, 0.9 41.9%, 0.931 46.8%, 0.954 52.3%,
          0.972 58.6%, 0.984 65.6%, 0.992 74.2%, 0.997 85%, 0.999
        ) 0s 1 both;
      }
    
      @keyframes menuSlideIn {
        from {
          opacity: 0;
          transform: translate3d(-20%, 0, 0);
        }

        to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    </style>

    <script defer src="https://app.tinyanalytics.io/pixel/WfB8WE5R7TXci4xA"></script>
  </head>

  <body>
    <Header currentPage={currentPage} />
    <main class="layout">
      <aside id="grid-left" class="grid-sidebar" title="Site Navigation">
        <LeftSidebar currentPage={currentPage} />
      </aside>
      <div id="grid-main">
        <PageContent title={data.title} headings={headings} editUrl={editUrl}>
          <slot />
        </PageContent>
      </div>
      <aside id="grid-right" class="grid-sidebar" title="Table of Contents">
        <RightSidebar headings={headings} editUrl={editUrl} />
      </aside>
    </main>
    <Footer path={currentFile} />
  </body>
</html>
